<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="./">Webadas.com</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="./">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./concursos">Concursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./frasesdimarco">Frases</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./social">Social</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./ajedrez">Ajedrez</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./dnixmerch">Dnix Merch</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<h1>Ajedrez</h1>
<p class="descAjedrez">En esta sección se insertaran las mejores partidas de ajedrez que ha jugado su servidor (Leonardo
    Juventino)</p>

<div class="ajedrez">
    <div class="partidas">
        {{!-- Movimientos brillantes --}}
        <p class="descSeccionAjedrez">=Movimientos brillantes(!!)=</p>
        <div class="AjedrezSeccion">
            <iframe class="partida" id="10169689" allowtransparency="true" frameborder="0"
                style="width:100%;border:none;" src="//www.chess.com/emboard?id=10169689"></iframe>
            <script>window.addEventListener("message", e => { e['data'] && "10169689" === e['data']['id'] && document.getElementById(`${e['data']['id']}`) && (document.getElementById(`${e['data']['id']}`).style.height = `${e['data']['frameHeight'] + 30}px`) });</script>
            <iframe class="partida" id="10169763" allowtransparency="true" frameborder="0"
                style="width:100%;border:none;" src="//www.chess.com/emboard?id=10169763"></iframe>
            <script>window.addEventListener("message", e => { e['data'] && "10169763" === e['data']['id'] && document.getElementById(`${e['data']['id']}`) && (document.getElementById(`${e['data']['id']}`).style.height = `${e['data']['frameHeight'] + 30}px`) });</script>
            <iframe class="partida" id="10169767" allowtransparency="true" frameborder="0"
                style="width:100%;border:none;" src="//www.chess.com/emboard?id=10169767"></iframe>
            <script>window.addEventListener("message", e => { e['data'] && "10169767" === e['data']['id'] && document.getElementById(`${e['data']['id']}`) && (document.getElementById(`${e['data']['id']}`).style.height = `${e['data']['frameHeight'] + 30}px`) });</script>
        </div>

        {{!-- Celadas --}}
        <p class="descSeccionAjedrez">=Celadas=</p>
        <div class="AjedrezSeccion">
            <iframe class="partida" id="10169827" allowtransparency="true" frameborder="0" style="width:100%;border:none;" src="//www.chess.com/emboard?id=10169827"></iframe><script>window.addEventListener("message",e=>{e['data']&&"10169827"===e['data']['id']&&document.getElementById(`${e['data']['id']}`)&&(document.getElementById(`${e['data']['id']}`).style.height=`${e['data']['frameHeight']+30}px`)});</script>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="footer__redes">
        <a target="_blank" href="https://www.instagram.com/webadascom/"><i class="fab fa-instagram icon2"></i></a>
        <a target="_blank" href="https://www.youtube.com/channel/UCN-ifptEgme0n2OiUhDeNyQ"><i
                class="fab fa-youtube icon4"></i></a>
    </div>
</footer>

<style>
    * {
        margin: 0px;
        padding: 0px;
    }

    html {
        height: 100%;
    }

    body {
        min-height: 100%;
        background-color: #1d1d1d;
        display: flex;
        flex-direction: column;
    }

    h1,
    .descAjedrez, .descSeccionAjedrez{
        display: flex;
        color: white;
        text-align: center;
        justify-content: center;
        align-self: center;
        width: 50%;
        padding: 15px;
    }

    .descSeccionAjedrez {
        width: 100%;
    }

    .navbar{
        display: flex;
    }

    h1 {
        font-size: 80px;
    }

    .partidas {
        display: flex;
        flex-direction: column;
    }

    .AjedrezSeccion {
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .partida {
        max-width: 320px;
        margin: 20px;
    }

    .descAjedrez{
        font-size: 25px;
    }

    .descSeccionAjedrez{
        padding-top: 60px;
        font-size: 40px;
    }


    /*Footer*/
    .footer {
        transition: all 1s ease;
        margin-top: auto;
    }

    .footer__redes {
        display: flex;
        margin-top: 120px;
        height: 75px;
        background: white;
        justify-content: center;
        align-items: center;
    }

    .fab {
        transition: all .3s ease;
        margin: 0 10px;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        background: #000;
        border-radius: 50%;
        color: white;
        cursor: pointer;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    }

    .icon2:hover {
        background: #c13584;
        transform: scale(1.2);
    }

    .icon4:hover {
        background: #c4302b;
        transform: scale(1.2);
    }

    /*Queries*/
    @media (max-width:915px) {
        .descAjedrez {
            width: 65%;
        }
    }

    @media (max-width:768px) {
        h1 {
            font-size: 55px;
        }
        
        .descAjedrez {
            font-size: 18px;
            width: 80%;
        }
    }

    @media (max-width:352px) {
        h1 {
            font-size: 40px;
        }
        
        .descAjedrez {
            font-size: 12px;
            width: 90%;
        }
    }

    @media (max-width:716px) {
        .descSeccionAjedrez {
            font-size: 30px;
            padding-top: 20px;
        }
    }

    @media (max-width:420px) {
        .descSeccionAjedrez {
            font-size: 20px;
        }
    }
</style>