<nav class="navbar navbar-expand bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="./">Webadas.com</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./concursos">Concursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./frasesdimarco">Frases</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./social">Social</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./ajedrez">Ajedrez</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<h1>Webadas.com</h1>
<p class="descLandpage">Somos un equipo de compañeros quienes buscamos divertir un rato y creo que tenemos mucho tiempo
    libre para hacer esto ._.</p>

<div class="cardContainer">
    {{!-- leonardo --}}
    <div class="card" style="width: 18rem;">
        <img src="https://i.ibb.co/xhZ2RHM/Leo.jpg"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Leonardo Juventino Villaseñor</h5>
            <p class="card-text">Programador del sitio web</p>
        </div>
    </div>
    {{!-- Rafael --}}
    <div class="card" style="width: 18rem;">
        <img src="https://i.ibb.co/hYfrzKB/Rafael.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Rafael Cabrera Aristeo</h5>
            <p class="card-text">Diseñador de la página</p>
        </div>
    </div>
    {{!-- Marco --}}
    <div class="card" style="width: 18rem;">
        <img src="https://i.ibb.co/dWkGYFL/Marco.jpg"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Marco Antonio Torres Montiel</h5>
            <p class="card-text">Supervisor visual de la página</p>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="footer__redes">
        <a target="_blank" href="https://www.instagram.com/webadascom/"><i class="fab fa-instagram icon2"></i></a>
        <a target="_blank" href="https://www.youtube.com/channel/UCN-ifptEgme0n2OiUhDeNyQ"><i class="fab fa-youtube icon4"></i></a>
    </div>
</footer>

<style>
    * {
        margin: 0px;
        padding: 0px;
    }

    html {
        height: 100%;
    }

    .card-img-top{
        border-radius: 50%;
    }

    body {
        min-height: 100%;
        background-color: #1d1d1d;
        display: flex;
        flex-direction: column;
    }

    h1,
    .descLandpage {
        display: flex;
        color: white;
        text-align: center;
        justify-content: center;
        align-self: center;
        width: 50%;
        padding: 15px;
    }

    h1 {
        font-size: 80px;
    }

    .descLandpage{
        font-size: 25px;
    }

    .cardContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        display: flex;
        padding: 10px;
        margin: 10px;
    }

    .card-title,
    .card-text {
        text-align: center;
    }

    /*Footer*/
    .footer {
        transition: all 1s ease;
        margin-top: auto;
    }

    .footer__redes {
        display: flex;
        margin-top: 120px;
        height: 75px;
        background: white;
        justify-content: center;
        align-items: center;
    }

    .fab {
        transition: all .3s ease;
        margin: 0 10px;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        background: #000;
        border-radius: 50%;
        color: white;
        cursor: pointer;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    }

    .icon2:hover {
        background: #c13584;
        transform: scale(1.2);
    }

    .icon4:hover {
        background: #c4302b;
        transform: scale(1.2);
    }
</style>